html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background: #06beb6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #06beb6, #48b1bf);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #06beb6, #48b1bf);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

.hidden {
    display: none;
}

a {
    color: white;
}

a:hover {
    text-decoration: underline;
}

a:hover,
a:active,
a:visited {
    color: white;
}

header {
    position: relative;
    background-color: black;
    width: 100vw;
    height: 90vh;
    min-height: 40vw;
    overflow: hidden;
    background-image: url('/img/bg-still.jpg')
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 2em;
}

img.cc-logo {
    width: 80vw;
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#play {
    border: 1px white solid;
    text-transform: uppercase;
    display: inline-block;
    padding: 1em;
    font-weight: 800;
    margin-top: 2em;
    cursor: pointer;
}

#play:hover {
    background-color: white;
    color: black;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}

.top-cta {
    margin-top: 2em;
}

.top-cta h2 {
    font-weight: 800;
}

.badge img {
    width: 100%;
    max-width: 15em;
}

.blurb {
    background-image: url('/img/open-quote.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 1.4em;
    font-size: 3em;
    padding-top: .5em;
}

.blurb-text {
    font-weight: 800;
    font-style: italic;
    line-height: 1.2;
    text-indent: .4em;
}

.blurb-attribution {
    font-weight: 200;
    font-size: .6em;
    text-align: right;
}

.blurb-attribution:before {
    content: "- ";

}

.blurb-small {
    font-size: 2em;
    margin-top: .5em;
}

.blurb-small .blurb-attribution {
    display: block;
    text-align: left;
}

.zach-hello p {
    font-size: 2.5em;
    font-weight: 800;
    margin-bottom: .5em;
    line-height: 1.2;

}

#about p {
    font-size: 1.5em;
    font-weight: 200;
}


#album-cover {
    float: left;
    max-width: 220px;
    margin-right: 1em;
    border: 2px white solid;
    margin-top: .5em;
}

.bottom-cta {
    border: 2px solid #fcd90a;
    padding: .5em 0em;
    background-color: rgba(256, 256, 256, .1);
}

.bottom-cta h2 {
    margin: 0;
    font-weight: 800;
}

.ack {
    font-size: 1.5em;
    margin-bottom: .5em;
    font-weight: 200;
}


.footer {
    width: 100%;
    background-color: white;
    padding: .7em 0;
}

.footer-links {
    display: flex;
    align-items: center;
    color: #06beb6;
    margin-bottom: .5em;
}

.footer-links a,
a:hover,
a:active,
a:visited {
    color: #06beb6;
}

.info-links a {
    margin-right: 1em;
    font-weight: bold;
}

.social-links a {
    margin-left: 1em;
    font-size: 1.3em;
}

.footer-duck {
    height: 2em;
}

.credits {
    color: #667a79;
    font-size: .7em;
}

.credits a {
    color: #667a79;
    text-decoration: underline;
}

.credits div {
    display: inline;
}

.copyright {
    margin-right: .4em;
}

.copyright:after {
    content: "·";
    margin-left: .4em;
}

.lightbox {
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;

}


.close-lb {
    float: right;
    font-size: 2.5em;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    z-index: 1;
}



@media only screen and (max-device-width : 768px) {

    header {
        height: auto;
        min-height: auto;
    }

    header .container {
        padding: 1.5em 1em;
    }

    .cc-logo {
        width: 90vw;
    }

    .blurb {
        font-size: 2em;
    }

    .zach-hello p{
        font-size: 1.5em;
    }

    .blurb-small {
        background-position: .2em 0;
        padding-right: .2em;

    }

    .blurb-small .blurb-text {
        margin-bottom: .2em;
        font-size: 1.5em;
    }

    #album-cover {
        max-width: 100%;
        margin-bottom: 1.5em;
        margin-top: 1em;
    }

    .footer {
        padding: 1em 0;
    }

    .footer-links a {
        margin: 0 .5em;
    }

    .social-links {}

    .credits {
        margin-top: .5em;
    }

}